# Connect to Supabase via connection pooling
DATABASE_URL="postgresql://postgres.pfcclmkqnjfroyvtkics:UN8CEJxlE8fXz9PC@aws-0-us-west-2.pooler.supabase.com:6543/postgres?pgbouncer=true"

# Direct connection to the database. Used for migrations
DIRECT_URL="postgresql://postgres.pfcclmkqnjfroyvtkics:UN8CEJxlE8fXz9PC@aws-0-us-west-2.pooler.supabase.com:5432/postgres"
